*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
}


@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}
.container{
    max-width:1170px;
    /* margin-left: auto; */
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}
 
.nav-link{
    color: var(--second-text-color, #737373);
        text-align: center;
    
        
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        
        
}
.nav-list{
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.home h3 {
    color: var(--text-color, #252B42);
    position: relative;
    top: 15px;
    left: 200px;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.1px;
}
.nav-list{
    position: relative;
    left: 730px;
    color: #000;
        text-align: center;
    
    
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
    
}
.bmw h1{
width: 509px;
height: 160;
color: var(--text-color, #252B42);
top: 80px;
position: relative;
left: 200px;

    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;

}
 .bmw h4{
    color: var(--second-text-color, #737373);
    
        
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 150% */
        letter-spacing: 0.2px;
        position: relative ;
        width: 376px;
        height: 60px;
        top: 150px;
        position: relative;
        left: 210px;
}
.container1{
    max-width: 1440px;
    /* margin-left: auto;
    margin-right: auto; */
  
}
.bmw {
    
        width: 1440px;
        height: 610px;
        margin-left: 20px;
        flex-shrink: 0;
        background-image: url(../images/home.png);    
       
}
.eminem{
    color: var(--light-text-color, #FFF);
        text-align: center;
    
        
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        display: flex;
            padding: 10px 36px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border-radius: 37px;
            background: var(--primary-color, #FFA62B);
            position: relative;
            top: 180px;
            left: 210px;
}
.billi{
    color: var(--light-text-color, #FFF);
        text-align: center;
    
    
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        display: flex;
        padding: 10px 36px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 37px;
        background: var(--primary-color, #FFA62B);
        position: relative;
        top: 130px;
        left: 450px;
}
.eminem:hover{
    background-color: #FFF;
        border: 1px solid var(--secondary-color-1, #00A0C1);
        color: #00A0C1;
}
.billi:hover{
    background-color: #FFF;
        border: 1px solid var(--secondary-color-1, #00A0C1);
        color: #00A0C1;
}
.part-1 {
    display: flex;
    width: 328px;
    padding: 35px 40px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF;
    gap: 10px;
    position: relative;
    bottom: 100px;
    left: 100px;

}

.paert-1 h3 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.paert-1 p {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;

}

.part-1:hover {
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    background: var(--secondary-color-1, #00A0C1);
    color: var(--light-text-color, #FFF);
}

.part-2 {
    display: flex;
    width: 328px;
    padding: 35px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #FFF;
    position: relative;
    bottom: 300px;
    left: 550px;

}

.part-2 h3 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.part-2 p {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.part-2:hover {
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    background: var(--secondary-color-1, #00A0C1);
    color: #FFF
}
.part-3:hover{
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
        background: var(--secondary-color-1, #00A0C1);
        color: #FFF
}

.part-3 {
    display: flex;
    width: 328px;
    padding: 35px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    position: relative;
    bottom: 510px;
    left: 970px;
}

.part-3 h3 {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.part-3 p {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.part3:hover{
background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    background: var(--secondary-color-1, #00A0C1);
    color: var(--light-text-color, #FFF);
}
